.cta {
  padding: 7rem 0;

  @include mobile {
    padding: 6.6rem 0;
    padding-bottom: 2rem;
  }
  &:not(:last-child) {
    margin-bottom: 4.7rem;
  }
  &__container {
    display: flex;
    gap: 4rem;
    padding: 0 14.5rem;

    @include mobile {
      padding: 0;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__content {
    width: 100%;
    max-width: 59.4rem;
    flex-shrink: 0;
  }
  &__right {
    margin-top: 1.6rem;
    width: 100%;
    background-color: #fff;
    padding: 5rem;
    padding-top: 4rem;
    padding-bottom: 4.8rem;
    border-radius: 3rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    @include mobile {
      height: 51.2rem;
      justify-content: flex-start;
      gap: 1.1rem;
      padding-left: 5.2rem;
    }
  }
  &__img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 66.6rem;

    mask-image: url("./../img/cta-mask.svg");
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: center;

    @include mobile {
      mask-image: url("./../img/cta-mask-mob.svg");
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--black);
  }
  &__subtitle {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;

    span {
      color: var(--blue);
    }
  }
  &__title {
    margin-bottom: 3rem;

    @include mobile {
      text-align: center;
      line-height: 0.92;
      margin-bottom: 2.5rem;
    }
  }
}

.cta-b {
  padding: 7rem 16.4rem;
  padding-left: 16.6rem;
  margin-bottom: 13rem;
  position: relative;
  @include mobile {
    padding: 4rem 0;
    padding-top: 5.2rem;
    margin-bottom: 5.7rem;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: -48.2rem;
    top: -19.7rem;
    transform: rotateZ(-90deg);
    width: 124rem;
    height: 124rem;

    background-image: url("./../img/lines/main4.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include mobile {
      width: 75rem;
      height: 75rem;
      left: -43rem;
      top: -8rem;
    }
  }
  &__container {
    background-color: #fff;
    padding: 8rem;
    padding-top: 6.6rem;
    padding-bottom: 7.6rem;
    border-radius: 3rem;
    position: relative;

    @include mobile {
      padding: 4rem;
      padding-top: 42.6rem;
    }
  }
  &__title {
    margin-bottom: 1.4rem;

    @include mobile {
      margin-bottom: 0.8rem;
    }
  }
  &__desc {
    font-weight: 500;
    margin-bottom: 5rem;

    @include mobile {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
  }
  &__content {
    max-width: 55%;

    @include mobile {
      max-width: 100%;
      text-align: center;
    }
  }
  &__form {
    max-width: 51.2rem;

    .cta-form__input {
      padding: 0 1.8rem;
      height: 5.7rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
        @include mobile {
          margin-bottom: 1.1rem;
        }
      }
      &:last-of-type {
        margin-bottom: 5.7rem;

        @include mobile {
          margin-bottom: 2rem;
        }
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 4;
    right: -3.5rem;
    bottom: -0.5rem;
    width: 71.3rem;
    aspect-ratio: 1 / 1;
    @include mobile {
      width: 44.5rem;
      bottom: unset;
      top: -9rem;
      right: 2rem;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: var(--cyan);
      width: 99%;
      aspect-ratio: 1 / 1;
      bottom: -6.2rem;
      left: -6rem;

      mask-image: url("./../img/cta-b-mask.svg");
      mask-size: 100% 100%;

      @include mobile {
        bottom: -3.3rem;
        left: -3.5rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cta-form {
  @include mobile {
    padding: 0 0.2rem;
  }
  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 2.7rem;
      @include mobile {
        margin-bottom: 1.7rem;
      }
    }
    &:last-of-type {
      margin-bottom: 7.7rem;

      @include mobile {
        margin-bottom: 3rem;
      }
    }
  }
  &__inwrapper {
    position: relative;
    &::after {
      content: attr(data-after);
      font-weight: 500;
      font-size: 2rem;
      line-height: 100%;
      color: var(--black);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3rem;
    }
  }
  &__label {
    display: block;
    margin-bottom: 0.9rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 92%;
    color: var(--black);
  }
  &__input {
    display: block;
    width: 100%;
    height: 6rem;
    border: 2.5px solid var(--black);
    border-radius: 1.5rem;
    padding: 0 2.82rem;

    font-weight: 500;
    font-size: 2rem;
    line-height: 92%;
    color: var(--black);
    background: none;
  }

  &__btn {
    width: 100%;
    padding: 1.3rem 0 1.9rem;
    font-size: 2rem;
    border-radius: 1.5rem;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__agree {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    color: var(--black);
    @include mobile {
      display: block;
      max-width: 32.5rem;
      margin: 0 auto;
    }
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
