<section class="about-benefits">
  <div class="container">
    <h2 class="title3 about-benefits__title centered">Преимущества</h2>
    <p class="about-benefits__subtitle centered title5">
      Дом, продуманный до мелочей, в котором вы будете чувствовать себя
      комфортно и безопасно
    </p>

    <div class="about-benefits__slider swiper">
      <div class="about-benefits__tabs swiper-wrapper">
        <button
          class="swiper-slide about-benefits__tab btn-reset active"
          data-tab="infr"
        >
          Инфраструктура
        </button>
        <button
          class="swiper-slide about-benefits__tab btn-reset"
          data-tab="parking"
        >
          Крытый паркинг
        </button>
        <button
          class="swiper-slide about-benefits__tab btn-reset"
          data-tab="free"
        >
          Свободная планировка
        </button>
        <button
          class="swiper-slide about-benefits__tab btn-reset"
          data-tab="arch"
        >
          Архитектура
        </button>
        <button
          class="swiper-slide about-benefits__tab btn-reset"
          data-tab="insur"
        >
          Бесплатное страхование имущества
        </button>
        <button
          class="swiper-slide about-benefits__tab btn-reset"
          data-tab="safe"
        >
          Безопасность
        </button>
      </div>
    </div>

    <div class="about-benefits__ss swiper">
      <div class="about-benefits__wrapper swiper-wrapper">
        <article
          class="about-about-benefits__content swiper-slide ben-content active"
          data-tab-content="infr"
        >
          <div class="ben-content__text">
            <h4 class="ben-content__title">Инфраструктура</h4>
            <div class="desc2 ben-content__desc">
              <p>
                ЖК&nbsp;&laquo;Молодёжный&raquo;&nbsp;&mdash; это современный,
                идеально приспособленный для&nbsp;городской&nbsp;среды жилой
                комплекс. Прекрасное место, чтобы растить детей, принимать
                гостей и&nbsp;наслаждаться жизнью.
              </p>
              <p>
                Просторная придомовая территория с детскими и спортивными
                площадками станет для вашей семьи долгожданным островком
                комфорта и&nbsp;безопасности. В&nbsp;непосредственной близости
                к&nbsp;жилому комплексу находятся транспортные развязки в
                направлениях Второй речки, Баляева, о. Русского, Седанки.
              </p>
              <p>
                Это позволит легко добраться до дома на личном или общественном
                транспорте. Прямо напротив ЖК – остановка автобуса № 95
                «Гвардейская».<br />В&nbsp;шаговой доступности расположены
                общеобразовательная средняя школа МБОУ СОШ № 82, детский сад №9
                «Катерок», городская поликлиника №9, центр развития ребенка
                «Бэби-клуб», магазин «Счастливое детство», аптеки.
              </p>
              <p>
                К&nbsp;дому будет пристроен двухэтажный супермаркет
                с&nbsp;подземным паркингом. Подъехать к комплексу можно будет
                с&nbsp;двух сторон — с&nbsp;улиц Адмирала Горшкова и Анны
                Щетининой.
              </p>
            </div>
          </div>
          <div class="ben-content__img">
            <img src="./img/about-benefits/01.webp" alt="" />
          </div>
        </article>
        <article
          class="about-benefits__content swiper-slide ben-content"
          data-tab-content="parking"
        >
          <div class="ben-content__text">
            <h4 class="ben-content__title">Крытый паркинг</h4>
            <div class="desc2 ben-content__desc">
              <p>
                Двухэтажный паркинг жилого комплекса &laquo;Молодёжный&raquo;
                расположен внутри дома с доступом к&nbsp;лифтам&nbsp;&mdash;
                чтобы попасть в автомобиль, не&nbsp;придётся покидать стен
                жилого комплекса.
              </p>
              <p>
                Паркинг рассчитан на&nbsp;223&nbsp;машиноместа. И разработан
                так, чтобы его&nbsp;использование&nbsp;вызывало лишь
                положительные эмоции: просторные машиноместа, высокие потолки
                и&nbsp;широкие проезды, где свободно могут разъехаться несколько
                автомобилей.
              </p>
            </div>
            <a
              href="#"
              class="ben-content__btn btn-reset btn btn--orange-stroke"
            >
              Выбрать машиноместо
            </a>
          </div>
          <div class="ben-content__img">
            <img src="./img/about-benefits/02.webp" alt="" />
          </div>
        </article>
        <article
          class="about-benefits__content swiper-slide ben-content"
          data-tab-content="free"
        >
          <div class="ben-content__text">
            <h4 class="ben-content__title">Свободная планировка</h4>
            <div class="desc2 ben-content__desc">
              <p>
                Свободная планировка позволяет владельцу квартиры самостоятельно
                решить сколько комнат ему потребуется на&nbsp;купленной площади.
              </p>
              <p>
                Таким образом, человек планирует и&nbsp;делает квартиру под свои
                интересы, учитывая потребности своей семьи, количества детей.
                Такое преимущество позволяет жить в&nbsp;комфорте. Благодаря
                свободной планировке интерьер вашего помещения станет
                неповторимым и&nbsp;будет заметно отличаться оригинальностью,
                ведь второй такой квартиры в этом доме не&nbsp;будет.
              </p>
              <p>
                Благодаря свободной планировке у&nbsp;вас есть возможность
                внедрить самые смелые решения. Вы&nbsp;также можете пригласить
                профессионала, и он&nbsp;поможет вам распределить количество
                комнат и&nbsp;их&nbsp;обустройство. Покупая квартиру
                со&nbsp;свободной планировкой, вы&nbsp;создаете жилье своей
                мечты.
              </p>
            </div>
          </div>
          <div class="ben-content__img">
            <img src="./img/about-benefits/03.webp" alt="" />
          </div>
        </article>
        <article
          class="about-benefits__content swiper-slide ben-content"
          data-tab-content="arch"
        >
          <div class="ben-content__text">
            <h4 class="ben-content__title">Архитектура</h4>
            <div class="desc2 ben-content__desc">
              <h5>Фасад</h5>
              <p>
                Монолитные железобетонные стены уберегут дом от&nbsp;ветра,
                влаги и&nbsp;других капризов приморского климата. Для
                теплозащиты будут применены негорючие минераловатные плиты
                толщиной 15&nbsp;сантиметров.
              </p>
              <p>
                Фасад состоит из&nbsp;навесной вентилируемой подсистемы
                со&nbsp;сроком эксплуатации в&nbsp;агрессивной наружной среде
                не&nbsp;менее 50&nbsp;лет. Наружный слой вентилируемого фасада
                выполнен из&nbsp;современных отделочных материалов
                с&nbsp;высокими эксплуатационными свойствами.
              </p>

              <h5>Отопление, водоснабжение</h5>
              <p>
                Централизованное отопление, горячее и&nbsp;холодное
                водоснабжение&nbsp;&mdash; от&nbsp;существующих городских сетей.
              </p>

              <h5>Остекление</h5>
              <p>
                Для остекления жилого комплекса выбраны современные оконные
                пластиковые конструкции с&nbsp;сопротивлением
                теплопередачи&nbsp;&mdash; не&nbsp;менее 0,62&nbsp;СВт
                /кв.&nbsp;м&nbsp;с&nbsp;которой не&nbsp;страшна любая непогода.
                Некоторые квартиры имеют витражное панорамное остекление,
                а&nbsp;вместе с&nbsp;ним &mdash; максимальное количество света
                и&nbsp;отличный вид на&nbsp;город.
              </p>

              <h5>Лифты</h5>
              <p>
                В&nbsp;доме 24&nbsp;этажа, поэтому лифтовой системе уделено
                особое внимание. Запланирована установка восьми лифтов, два
                из&nbsp;которых&nbsp;&mdash; грузовые.
              </p>
              <p>
                Все они оснащены электронной системой управления, вентиляцией и
                надёжной системой торможения кабины до&nbsp;её&nbsp;полной
                остановки в экстренных случаях. Скорость подъёма
                лифта&nbsp;&mdash; 2,5&nbsp;м/с.
              </p>
            </div>
          </div>
          <div class="ben-content__img">
            <img src="./img/about-benefits/04.webp" alt="" />
          </div>
        </article>
        <article
          class="about-benefits__content swiper-slide ben-content"
          data-tab-content="insur"
        >
          <div class="ben-content__text">
            <h4 class="ben-content__title">Бесплатное страхование имущества</h4>
            <div class="desc2 ben-content__desc">
              <p>
                Всех участников долевого строительства за&nbsp;счёт застройщика
              </p>
              <p>
                Страховой дом ВСК заключает
                с&nbsp;СЗ&nbsp;&laquo;Молодёжный&raquo; коллективный договор
                страхования, действующий в&nbsp;течение 12-и месяцев после
                подписания акта приёма-передачи квартир.
              </p>
              <p>
                Объектом страхования является собственность покупателей жилья
                в&nbsp;комплексе&nbsp;&mdash; внутренняя отделка, инженерное
                оборудование, домашнее имущество,&nbsp;&mdash; а&nbsp;также
                риски в&nbsp;случаях пожара, взрыва, удара молнии, залива или
                противоправных действий третьих лиц. Кроме того, есть
                возможность предусмотреть ситуацию, когда действия самого
                участника долевого строительства становятся причиной страхового
                случая: для этого осуществляется страхование гражданской
                ответственности за&nbsp;причинение вреда третьим лицам.
              </p>
            </div>

            <div class="ben-content__files">
              <a href="#" download>
                <img src="./img/about-benefits/sert.webp" alt="" />
              </a>
            </div>
          </div>
          <div class="ben-content__img">
            <img src="./img/about-benefits/05.webp" alt="" />
          </div>
        </article>
        <article
          class="about-benefits__content swiper-slide ben-content"
          data-tab-content="safe"
        >
          <div class="ben-content__text">
            <h4 class="ben-content__title">Безопасность</h4>
            <div class="desc2 ben-content__desc">
              <p>
                В&nbsp;жилом комплексе &laquo;Молодежный&raquo; продуманная
                система противопожарной защиты, которая включает:<br />
                &mdash;&nbsp;современную систему оповещения, пожаротушения
                и&nbsp;дымоудаления; <br />
                &mdash; круглосуточную охрану и&nbsp;видеонаблюдение , которые
                гарантируют оперативное обнаружение возгорания в&nbsp;любое
                время суток; <br />
                &mdash; использование высококачественных материалов
                и&nbsp;электроники;
                <br />
                &mdash; смонтированные системы пожаротушения, которые при
                срабатывании наносят меньший ущерб имуществу.
              </p>
              <p>
                Обеспечивает высокий уровень безопасности жильцов и&nbsp;сам
                архитектурный проект. При возведении используются самые
                безопасные материалы по&nbsp;огнестойкости, токсичности
                и&nbsp;дымообразованию: корпус&nbsp;&mdash;
                из&nbsp;железобетона, утеплитель&nbsp;&mdash; негорючая
                минеральная вата.
              </p>
              <p>
                Каждая квартира в&nbsp;комплексе оборудована датчиками дыма
                и&nbsp;системой звукового оповещения . На&nbsp;каждом этаже
                проектом предусмотрена противопожарная система: установлены
                пожарные краны, кратчайшие пути эвакуации с&nbsp;системой
                дымоудаления и&nbsp;звукового оповещения,
                с&nbsp;противопожарными дверями, способными удерживать пламя
                и&nbsp;дым&nbsp;в&nbsp;течение 90&nbsp;минут.
              </p>
            </div>
          </div>
          <div class="ben-content__img">
            <img src="./img/about-benefits/06.webp" alt="" />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
