<section class="about">
  <div class="container">
    <div class="about__container">
      <div class="about__left">
        <div class="about__header">
          <h2 class="title2 about__title">О проекте</h2>
          <p class="about__subtitle subtitle2">
            <span>Ваш идеальный дом</span> – продуманное, функциональное и
            комфортное жильё
          </p>
        </div>
        <div class="about__content">
          <div class="desc1 about__desc">
            <p>
              ЖК «Молодежный» – это современный, идеально приспособленный
              для&nbsp;городской среды жилой комплекс.
            </p>
            <p>
              Прекрасное место, чтобы растить детей, принимать гостей
              и&nbsp;наслаждаться жизнью. Комплекс спроектирован исходя из
              требований молодых семей.
            </p>
          </div>
          <div class="about__buttons">
            <a href="#" class="btn btn-reset btn--dark about__btn">
              Подробнее
            </a>
            <a href="#" class="btn btn-reset btn--dark about__btn">
              Планировка этажа
            </a>
            <a href="#" class="btn btn-reset btn--dark about__btn">
              Онлайн-камера со стройплощадки
            </a>
          </div>
        </div>
      </div>
      <div class="about__right">
        <div class="about__slider about-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="about-slider__img">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-slider__img">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-slider__img">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-slider__img">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-slider__img">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-slider__img">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-slider__img">
                <img src="./img/about/01.webp" alt="" />
              </div>
            </div>
          </div>

          <div class="about__control control">
            <div class="about-prev control__btn control__btn--prev">
              <svg
                width="19"
                height="33"
                viewBox="0 0 19 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  opacity="0.7"
                  d="M16.5908 31.5L2.51003 17.4192C2.31281 17.222 2.2142 17.1234 2.15236 17.0225C1.95588 16.7019 1.95588 16.2981 2.15236 15.9775C2.2142 15.8766 2.31281 15.778 2.51003 15.5808L16.5908 1.5"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="about__pagination pagination"></div>
            <div class="about-next control__btn control__btn--next">
              <svg
                width="19"
                height="33"
                viewBox="0 0 19 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  opacity="0.7"
                  d="M2 31.5L16.0808 17.4192C16.278 17.222 16.3766 17.1234 16.4384 17.0225C16.6349 16.7019 16.6349 16.2981 16.4384 15.9775C16.3766 15.8766 16.278 15.778 16.0808 15.5808L2 1.5"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
