<section class="about-hero">
  <div class="container">
    <div class="about-hero__header">
      <h1 class="about-hero__title title2">О проекте</h1>
    </div>

    <div class="about-hero__items">
      <div class="about-hero__item ah-item">
        <div class="ah-item__content">
          <div class="ah-item__header">
            <p class="ah-item__title"><span>24 </span>этажа</p>
            <p class="ah-item__desc">Высота здания</p>
          </div>
        </div>
        <div class="ah-item__img">
          <img src="./img/about-hero/building.webp" alt="" />
        </div>
      </div>
      <div class="about-hero__item ah-item">
        <div class="ah-item__content">
          <div class="ah-item__header">
            <p class="ah-item__title"><span>223 </span>машиноместа</p>
            <p class="ah-item__desc">В крытой подземной парковке</p>
          </div>
        </div>
        <div class="ah-item__img">
          <img src="./img/about-hero/car.webp" alt="" />
        </div>
      </div>
      <div class="about-hero__item ah-item">
        <div class="ah-item__content">
          <div class="ah-item__header">
            <p class="ah-item__title"><span>416 </span>квартир в доме</p>
          </div>
          <div class="ah-item__content">
            <div class="ah-item__desc">
              <p>Общей площадью 18320,2 м²</p>
              <p>
                1-комнатных&nbsp;&mdash; 244
                Студии&nbsp;&mdash;&nbsp;32&nbsp;(от&nbsp;24,7&nbsp;до&nbsp;39,30&nbsp;м&sup2;)
              </p>
              <p>
                2-комнатных&nbsp;&mdash; 130, в&nbsp;т.ч.
                2-уровневые&nbsp;&mdash; 4 (от&nbsp;44,10
                до&nbsp;62,50&nbsp;м&sup2;)
              </p>
              <p>
                3-комнатных&nbsp;&mdash; 42 (70,40 до&nbsp;72,60&nbsp;м&sup2;)
              </p>
              <p>Пентхаус&nbsp;&mdash; 8&nbsp;(высота потолков 5,85&nbsp;м)</p>
            </div>
          </div>
        </div>
        <div class="ah-item__img">
          <img src="./img/about-hero/flat.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
