<section class="about-hero">
  <div class="container">
    <div class="about-hero__header">
      <h1 class="about-hero__title title2">О проекте</h1>
    </div>

    <div class="about-hero__items">
      <div class="about-hero__item ah-item">
        <div class="ah-item__content">
          <div class="ah-item__header">
            <p class="ah-item__title"><span>24 </span>этажа</p>
            <p class="ah-item__desc">Высота здания</p>
          </div>
        </div>
        <div class="ah-item__img">
          <img src="./img/about-hero/building.webp" alt="" />
        </div>
      </div>
      <div class="about-hero__item ah-item">
        <div class="ah-item__content">
          <div class="ah-item__header">
            <p class="ah-item__title"><span>223 </span>машиноместа</p>
            <p class="ah-item__desc">В крытой подземной парковке</p>
          </div>
        </div>
        <div class="ah-item__img">
          <img src="./img/about-hero/car.webp" alt="" />
        </div>
      </div>
      <div class="about-hero__item ah-item">
        <div class="ah-item__content">
          <div class="ah-item__header">
            <p class="ah-item__title"><span>416 </span>квартир в доме</p>
          </div>
          <div class="ah-item__content">
            <div class="ah-item__desc">
              <p>Общей площадью 18320,2 м²</p>
              <p>1-комнатных – 244, Студии – 32 (от 24,7 до 39,30 м²)</p>
              <p>
                2-комнатных – 130, в т.ч. 2-уровневые – 4 (от 44,10 до 62,50 м²)
              </p>
              <p>3-комнатных – 42 (70,40 до 72,60 м²)</p>
              <p>Пентхаус - 8 (высота потолков 5,85 м)</p>
            </div>
          </div>
        </div>
        <div class="ah-item__img">
          <img src="./img/about-hero/flat.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
