<section class="apart-hero">
  <div class="container">
    <div class="apart-hero__container">
      <div class="apart-hero__left">
        <div class="apart-hero__block">
          <h1 class="apart-hero__title title2">Выбор квартиры</h1>
        </div>
        <div class="apart-hero__block apart-hero__block--btn">
          <button class="apart-hero__btn btn btn-reset btn--dark">
            1-Комнатная
          </button>
          <button class="apart-hero__btn btn btn-reset btn--dark">
            2-Комнатная
          </button>
          <button class="apart-hero__btn btn btn-reset btn--dark">
            3-Комнатная
          </button>
          <button class="apart-hero__btn btn btn-reset btn--dark">
            Студия
          </button>
          <button class="apart-hero__btn btn btn-reset btn--dark">
            2-Уровневая
          </button>
          <button class="apart-hero__btn btn btn-reset btn--dark">
            Пентхаус
          </button>
        </div>

        <div class="apart-hero__free apart-free">
          <div class="apart-free__header">
            <div class="apart-free__title">
              Квартир свободно:&nbsp;<span>39</span>
            </div>
            <div class="apart-free__square">
              Площадь: от <span>31.9</span> до <span>32.8</span> м2
            </div>
          </div>
          <div class="apart-free__list">
            <ul
              class="list-reset"
              id="myElement"
              data-overlayscrollbars-initialize
            >
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">12 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
              <li>
                <div class="apart-free__item af-item">
                  <div class="af-item__floor">3 этаж</div>
                  <div class="af-item__free">
                    Свободно квартир: <span>3</span>
                  </div>
                  <div class="af-item__from">от <span>7 177 600</span> руб</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="apart-hero__right">
        <div class="apart-hero__img">
          <img src="./img/apart/building.webp" alt="" />
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 1742 1927"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            class="building-plan-svg"
          >
            <g>
              <g transform="matrix(2.95297,0,0,3.22822,-523.779,-495.799)">
                <rect
                  x="177.373"
                  y="153.583"
                  width="589.915"
                  height="596.923"
                  style="fill-opacity: 0"
                ></rect>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="7"
              >
                <rect
                  x="870.109"
                  y="1198.02"
                  width="841.88"
                  height="76.952"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5472.54)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    7
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="7"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="1198.02"
                    width="841.88"
                    height="76.952"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5472.54)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    7
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="2"
              >
                <rect
                  x="870.109"
                  y="1558"
                  width="842.021"
                  height="76.008"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5113.04)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    2
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="2"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="1558"
                    width="842.021"
                    height="76.008"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5113.04)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    2
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="3"
              >
                <rect
                  x="870.109"
                  y="1491"
                  width="833.884"
                  height="66.988"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5184.55)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    3
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="3"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="1491"
                    width="833.884"
                    height="66.988"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5184.55)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    3
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="4"
              >
                <rect
                  x="870.109"
                  y="1414.09"
                  width="871.891"
                  height="76.838"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5256.53)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    4
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="4"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="1414.09"
                    width="871.891"
                    height="76.838"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5256.53)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    4
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="5"
              >
                <rect
                  x="870.109"
                  y="1342"
                  width="832.917"
                  height="72.082"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5330.99)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    5
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="5"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="1342"
                    width="832.917"
                    height="72.082"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5330.99)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    5
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="6"
              >
                <rect
                  x="870.109"
                  y="1274.99"
                  width="832.912"
                  height="66.943"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5400.58)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    6
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="6"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="1274.99"
                    width="832.912"
                    height="66.943"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5400.58)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    6
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="8"
              >
                <rect
                  x="870.109"
                  y="1131.08"
                  width="836.867"
                  height="66.943"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5544.49)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    8
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="8"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="1131.08"
                    width="836.867"
                    height="66.943"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5544.49)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    8
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="9"
              >
                <path
                  d="M870.109,1049.18L1703.97,1049.18L1703.97,1054.21L1742,1054.21L1742,1131.07L870.109,1131.07L870.109,1049.18Z"
                  style="fill: white; fill-opacity: 0.76"
                ></path>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5618.91)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    9
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="9"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <path
                    d="M870.109,1049.18L1703.97,1049.18L1703.97,1054.21L1742,1054.21L1742,1131.07L870.109,1131.07L870.109,1049.18Z"
                    style="fill: white; fill-opacity: 0.76"
                  ></path>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5618.91)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    9
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="10"
              >
                <rect
                  x="870.109"
                  y="982.236"
                  width="833.863"
                  height="66.943"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5693.33)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    10
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="10"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="982.236"
                    width="833.863"
                    height="66.943"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5693.33)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    10
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="11"
              >
                <rect
                  x="870.109"
                  y="915.288"
                  width="833.863"
                  height="66.943"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5760.28)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    11
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="11"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="915.288"
                    width="833.863"
                    height="66.943"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5760.28)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    11
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="12"
              >
                <rect
                  x="870.109"
                  y="837.775"
                  width="841.982"
                  height="77.461"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5832.53)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    12
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="12"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="837.775"
                    width="841.982"
                    height="77.461"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5832.53)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    12
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="13"
              >
                <rect
                  x="870.109"
                  y="770.985"
                  width="833.863"
                  height="66.943"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5904.58)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    13
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="13"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="770.985"
                    width="833.863"
                    height="66.943"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5904.58)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    13
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="14"
              >
                <rect
                  x="870.109"
                  y="693.991"
                  width="871.894"
                  height="76.978"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-5976.56)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    14
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="14"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="693.991"
                    width="871.894"
                    height="76.978"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-5976.56)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    14
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="15"
              >
                <rect
                  x="870.109"
                  y="622.263"
                  width="833.847"
                  height="71.705"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6050.92)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    15
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="15"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="622.263"
                    width="833.847"
                    height="71.705"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6050.92)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    15
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="16"
              >
                <rect
                  x="870.109"
                  y="552.748"
                  width="833.847"
                  height="69.468"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6121.55)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    16
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="16"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="552.748"
                    width="833.847"
                    height="69.468"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6121.55)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    16
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="17"
              >
                <rect
                  x="870.109"
                  y="483.264"
                  width="833.847"
                  height="69.468"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6191.04)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    17
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="17"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="483.264"
                    width="833.847"
                    height="69.468"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6191.04)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    17
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="18"
              >
                <rect
                  x="870.109"
                  y="406.363"
                  width="841.82"
                  height="76.88"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6264.23)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    18
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="18"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="406.363"
                    width="841.82"
                    height="76.88"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6264.23)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    18
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="19"
              >
                <path
                  d="M870.109,334.076L1741.98,334.076L1741.98,365.851L1742,365.851L1742,411.027L1712.01,411.027L1712.01,406.346L870.109,406.346L870.109,334.076Z"
                  style="fill: white; fill-opacity: 0.76"
                ></path>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6336.49)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    19
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="19"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <path
                    d="M870.109,334.076L1741.98,334.076L1741.98,365.851L1742,365.851L1742,411.027L1712.01,411.027L1712.01,406.346L870.109,406.346L870.109,334.076Z"
                    style="fill: white; fill-opacity: 0.76"
                  ></path>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6336.49)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    19
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="20"
              >
                <rect
                  x="870.109"
                  y="264.529"
                  width="833.847"
                  height="69.468"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6409.77)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    20
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="20"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="264.529"
                    width="833.847"
                    height="69.468"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6409.77)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    20
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="21"
              >
                <rect
                  x="870.109"
                  y="195.038"
                  width="833.847"
                  height="69.468"
                  style="fill: white; fill-opacity: 0.76"
                ></rect>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6479.26)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    21
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="21"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <rect
                    x="870.109"
                    y="195.038"
                    width="833.847"
                    height="69.468"
                    style="fill: white; fill-opacity: 0.76"
                  ></rect>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6479.26)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    21
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="right"
                data-floor="22"
              >
                <path
                  d="M870.109,17.454L1088.97,17.454L1088.97,0L1333.07,0L1333.07,17.454L1430.19,17.454L1430.19,85.464L1712.06,85.464L1712.06,195.096L870.109,195.096L870.109,17.454Z"
                  style="fill: white; fill-opacity: 0.76"
                ></path>
                <g transform="matrix(4.21822,0,0,4.21822,-4077.42,-6571.3)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    22
                  </text>
                </g>
              </g>
              <g
                class="building-plan-svg__floor"
                data-building-side="left"
                data-floor="22"
              >
                <g transform="matrix(-1,0,0,1,1740.28,0)">
                  <path
                    d="M870.109,17.454L1088.97,17.454L1088.97,0L1333.07,0L1333.07,17.454L1430.19,17.454L1430.19,85.464L1712.06,85.464L1712.06,195.096L870.109,195.096L870.109,17.454Z"
                    style="fill: white; fill-opacity: 0.76"
                  ></path>
                </g>
                <g transform="matrix(4.21822,0,0,4.21822,-4751.42,-6571.3)">
                  <text
                    x="1228.25px"
                    y="1595.04px"
                    style="
                      font-family: 'Hibana-SubMedium', 'Hibana';
                      font-weight: 500;
                      font-stretch: semi-expanded;
                      font-size: 12px;
                    "
                  >
                    Эт
                    <tspan x="1242.66px 1249.31px " y="1595.04px 1595.04px ">
                      аж
                    </tspan>
                    22
                  </text>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
