<section class="benefits">
  <div class="container">
    <h2 class="title3 centered benefits__title">Преимущества</h2>

    <div class="benefits__items">
      <article class="benefits__item ben-item">
        <div class="ben-item__content">
          <h4 class="ben-item__title">Инфраструктура</h4>
          <p class="desc3 ben-item__desc">
            ЖК&nbsp;&laquo;Молодёжный&raquo;&nbsp;&mdash; это современный,
            идеально приспособленный для городской среды жилой комплекс.
            Прекрасное место, чтобы растить детей, принимать гостей
            и&nbsp;наслаждаться жизнью.
          </p>
          <a href="#" class="ben-item__link">подробнее</a>
        </div>
        <div class="ben-item__img">
          <img src="./img/benefits/01.webp" alt="" />
        </div>
      </article>
      <article class="benefits__item ben-item">
        <div class="ben-item__content">
          <h4 class="ben-item__title">Архитектура</h4>
          <p class="desc3 ben-item__desc">
            Монолитные железобетонные стены уберегут дом от&nbsp;ветра, влаги
            и&nbsp;других капризов приморского климата. <br />Для теплозащиты
            будут применены негорючие минераловатные плиты толщиной
            15&nbsp;сантиметров.
          </p>
          <a href="#" class="ben-item__link">подробнее</a>
        </div>
        <div class="ben-item__img">
          <img src="./img/benefits/02.webp" alt="" />
        </div>
      </article>
      <article class="benefits__item ben-item">
        <div class="ben-item__content">
          <h4 class="ben-item__title">Крытый паркинг</h4>
          <p class="desc3 ben-item__desc">
            Двухэтажный паркинг жилого комплекса &laquo;Молодёжный&raquo;
            расположен внутри дома с&nbsp;доступом к&nbsp;лифтам&nbsp;&mdash;
            чтобы попасть в&nbsp;автомобиль, не&nbsp;придётся покидать стен
            жилого комплекса.
          </p>
          <a href="#" class="ben-item__link">подробнее</a>
        </div>
        <div class="ben-item__img">
          <img src="./img/benefits/03.webp" alt="" />
        </div>
      </article>
      <article class="benefits__item ben-item">
        <div class="ben-item__content">
          <h4 class="ben-item__title">Свободная планировка</h4>
          <p class="desc3 ben-item__desc">
            Свободная планировка позволяет владельцу квартиры самостоятельно
            решить сколько комнат ему потребуется на&nbsp;купленной площади.
            Таким образом, человек планирует и&nbsp;делает квартиру
            под&nbsp;свои интересы, учитывая потребности своей семьи, количества
            детей.
          </p>
          <a href="#" class="ben-item__link">подробнее</a>
        </div>
        <div class="ben-item__img">
          <img src="./img/benefits/04.webp" alt="" />
        </div>
      </article>
      <article class="benefits__item ben-item">
        <div class="ben-item__content">
          <h4 class="ben-item__title">Бесплатное страхование имущества</h4>
          <p class="desc3 ben-item__desc">
            Все участники долевого строительства на&nbsp;год страхуют свою
            собственность за&nbsp;счёт застройщика сразу после подписания акта
            приема-передачи квартир.
          </p>
          <a href="#" class="ben-item__link">подробнее</a>
        </div>
        <div class="ben-item__img">
          <img src="./img/benefits/05.webp" alt="" />
        </div>
      </article>
      <article class="benefits__item ben-item">
        <div class="ben-item__content">
          <h4 class="ben-item__title">Безопасность</h4>
          <p class="desc3 ben-item__desc">
            Всё, происходящее в&nbsp;зонах общего пользования, будут фиксировать
            камеры видеонаблюдения. Вид из&nbsp;окон квартир охватит весь двор:
            можно будет рассмотреть каждого гостя территории ЖК и&nbsp;каждый
            заезжающий на&nbsp;неё автомобиль. В&nbsp;подъездах&nbsp;же будут
            круглосуточно дежурить консьержи
          </p>
          <a href="#" class="ben-item__link">подробнее</a>
        </div>
        <div class="ben-item__img">
          <img src="./img/benefits/06.webp" alt="" />
        </div>
      </article>
    </div>

    <div class="benefits__bottom">
      <a href="#" class="btn btn-reset btn--dark benefits__btn"> Подробнее </a>
    </div>
  </div>
</section>
