<section class="builder">
  <div class="container">
    <h1 class="title2 builder__title centered">О застройщике</h1>

    <div class="builder__content">
      <p>
        Застройщик дома &mdash; ООО СПЕЦИАЛИЗИРОВАННЫЙ ЗАСТРОЙЩИК
        &laquo;МОЛОДЁЖНЫЙ&raquo; (ООО &laquo;СЗ &laquo;МОЛОДЁЖНЫЙ&raquo;),
        строительная компания созданная для возведения многоэтажных жилых домов
        в соответствии с ФЗ-214 от 30.12.2004 &laquo;Об участии в долевом
        строительстве многоквартирных домов и иных объектов недвижимости и о
        внесении изменений в некоторые законодательные акты Российской
        Федерации&raquo;. Идея создания ООО &laquo;СЗ &laquo;МОЛОДЁЖНЫЙ&raquo;
        появилась после приобретения холдингом ООО &laquo;Региональное
        Предприятие Механизации Строительного Производства&raquo; более чем
        20-ти летнего опыта работы в строительной отрасли, с целью выделения в
        отдельное самостоятельное строительное предприятие организацию, с более
        расширенными задачами девелоперской компании, имеющей в своём штате
        опытных высококвалифицированных специалистов.
      </p>
      <p>
        Работы по выполнению функций технического заказчика и строительного
        контроля, привлекаемым специализированным застройщиком ООО &laquo;СЗ
        &laquo;МОЛОДЁЖНЫЙ&raquo;, осуществляет на основании договора &mdash; ООО
        &laquo;Региональное Предприятие Механизации Строительного
        Производства&raquo;.
      </p>
      <img src="./img/builder/01.webp" alt="" />
      <div class="builder__about">
        <h4>О холдинге</h4>
        <p>
          ООО &laquo;Региональное Предприятие Механизации Строительного
          Производства&raquo; (ООО &laquo;РП МСП&raquo;) &mdash; это компания,
          которая создала себя сама и за многие годы прошла путь с
          &laquo;нуля&raquo; до крупного и успешного многопрофильного холдинга.
          Её путь &mdash; это совместная дорога с Приморским краем, Дальним
          Востоком, Россией. Люди, работающие на её предприятиях &mdash; это
          граждане страны, живущие теми же проблемами и успехами, которые за
          последние десятилетия переживает Владивосток, Приморье, ДФО и
          Россия.Предприятия ООО &laquo;РП МСП&raquo; являются энергичными
          представителями бизнеса, которые успешно развивают такой сегмент, как
          девелопмент. В основе динамичного развития компании лежит глубокое
          знание и постоянное изучение потребностей региона, партнёров и
          клиентов, оперативное внедрение передовых технологий и ориентация на
          инновации.
        </p>
        <p>
          Многочисленный коллектив холдинга готов к новым знаниям, новациям, и
          достижениям.<br />
          История ООО &laquo;Региональное Предприятие Механизации Строительного
          Производства&raquo; началась в 1997 г. Тогда группа молодых строителей
          решила применять свои знания на практике, чтобы помогать формировать
          историю Приморского края, возводить офисные центры и жилые комплексы,
          строить дороги и благоустраивать придомовые территории,
          реконструировать дома и здания различного назначения.
        </p>
        <p>
          Индивидуальный, комплексный подход к решению поставленных задач,
          гибкость и оперативность принимаемых решений позволили ООО &laquo;РП
          МСП&raquo;,<br />
          за сравнительно небольшой период времени стать деловыми партнёрами
          таких организаций, как Управление ФСБ России по Приморскому краю, ОАО
          &laquo;ДРСК&raquo;, ФГУ &laquo;Администрация морских портов
          Приморского края&raquo;, Центр хозяйственного и сервисного управления
          УМВД ПК, Прокуратура Приморского края, ФГУП &laquo;Почта
          России&raquo;, ГБУ &laquo;Хозяйственное управление администрации
          края&raquo; и другие. А главное &mdash; благоприятно повлияло на
          ускоренные темпы формирования производственно-материальной базы
          компании и привлечение в коллектив опытнейших профессионалов.
        </p>
        <p>
          С тех пор компания не перестаёт развиваться, старается быть в курсе
          всех новых технологий в сфере строительства, использовать современные
          материалы и пользоваться только проверенным и надёжным оборудованием,
          что позволяет постоянно повышать качество построенных зданий и разумно
          сокращать сроки сдачи объектов.
        </p>
        <p>
          ООО &laquo;Региональное Предприятие Механизации Строительного
          Производства&raquo; &mdash; опытный и профессиональный исполнитель
          полного цикла строительных работ: от проектирования объекта до сдачи
          его в эксплуатацию и управления им. В собственности холдинга находятся
          все материально-производственные ресурсы, которые позволяют
          отслеживать качество исполнения работ на любом этапе и гарантировать
          своевременную сдачу объектов, сводя к минимуму зависимость от
          неблагоприятных внешних факторов.
        </p>
      </div>
    </div>

    <div class="builder__projects">
      <p class="builder__text">
        На сегодняшний день ООО «Региональное Предприятие Механизации
        Строительного Производства» может заслуженно гордиться целым списком уже
        построенных и сданных в эксплуатацию строительных объектов, относящихся
        к самым разным типам городской застройки:
      </p>
      <div class="builder__items">
        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/02.webp"
          data-caption=" Капитальное строительство базы отдыха «Тунгус», г. Находка"
        >
          <div class="builder-item__img">
            <img src="./img/builder/02.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство базы отдыха «Тунгус», г. Находка
          </p>
        </div>
        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/03.webp"
          data-caption="Капитальное строительство детского сада, ул. Некрасовская, 76, г.
          Владивосток"
        >
          <div class="builder-item__img">
            <img src="./img/builder/03.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство детского сада, ул. Некрасовская, 76, г.
            Владивосток
          </p>
        </div>
        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/04.webp"
          data-caption="Капитальное строительство общежития для «Дальневосточного
          федерального университета». ул. Державина, 17-19, г. Владивосток"
        >
          <div class="builder-item__img">
            <img src="./img/builder/04.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство общежития<br />для «Дальневосточного
            федерального университета». ул. Державина, 17-19, г. Владивосток
          </p>
        </div>

        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/05.webp"
          data-caption="Капитальное строительство ГОУ ВПО «Владивостокского государственного
          медицинского университета». Океанский пр-т, 165, г. Владивосток"
        >
          <div class="builder-item__img">
            <img src="./img/builder/05.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство ГОУ ВПО «Владивостокского государственного
            медицинского университета». Океанский пр-т, 165, г. Владивосток
          </p>
        </div>
        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/06.webp"
          data-caption="Капитальное строительство офисно-адинистративного здания, ул.
          Кирова, 14а, г. Артем"
        >
          <div class="builder-item__img">
            <img src="./img/builder/06.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство офисно-адинистративного здания, ул.
            Кирова, 14а, г. Артем
          </p>
        </div>
        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/07.webp"
          data-caption="Капитальное строительство здания, ул. Острякова, 49 (офисные
          помещения), г. Владивосток"
        >
          <div class="builder-item__img">
            <img src="./img/builder/07.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство здания, ул. Острякова, 49 (офисные
            помещения), г. Владивосток
          </p>
        </div>

        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/08.webp"
          data-caption="Капитальное строительство торгового центра, ул. 1-я Рабочая, 16, г.
          Артем"
        >
          <div class="builder-item__img">
            <img src="./img/builder/08.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство торгового центра, ул. 1-я Рабочая, 16, г.
            Артем
          </p>
        </div>
        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/09.webp"
          data-caption="Капитальное строительство жилого дома, ул. Глинки, 30, г.
          Владивосток"
        >
          <div class="builder-item__img">
            <img src="./img/builder/09.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство жилого дома, ул. Глинки, 30, г.
            Владивосток
          </p>
        </div>
        <div
          class="builder__item builder-item"
          data-fancybox="builder-gallery"
          data-src="./img/builder/10.webp"
          data-caption="Капитальное строительство жилого дома, ул. Монтажная, 15а, г.
          Владивосток"
        >
          <div class="builder-item__img">
            <img src="./img/builder/10.webp" alt="" />
          </div>
          <p class="builder-item__capture">
            Капитальное строительство жилого дома, ул. Монтажная, 15а, г.
            Владивосток
          </p>
        </div>
      </div>

      <div class="builder__bottom">
        <p class="builder__text">
          Это далеко не полный перечень объектов капитального строительства, в
          строительстве и реконструкции которых, ООО «РП МСП» принимало активное
          участие.
        </p>
        <a href="#" class="btn btn-reset btn--dark builder__btn">
          Скачать подробную PDF презентацию о холдинге
        </a>
      </div>
    </div>
  </div>
</section>
