<div class="burger-menu" data-menu data-menu-overlay>
  <div class="burger-menu__body" data-menu-body>
    <nav class="nav burger-menu__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">О проекте</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Галерея</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link">Ход строительства</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link">О застройщике</a>
        </li>
      </ul>
    </nav>
    <div class="burger-menu__call">
      <a href="tel:+7 423 287 77 27" class="burger-menu__tel">
        +7 423 287 77 27
      </a>
      <button class="btn-reset burger-menu__capture">Заказать звонок</button>
    </div>
  </div>

  <button class="burger-menu__close btn-reset">
    <svg
      width="18"
      height="18"
      viewBox="0 0 18 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.92893 1.92898L16.0711 16.0711M16.0711 1.92898L1.92893 16.0711"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
  </button>
</div>
