<section class="cta-b cta-b--single">
  <div class="container">
    <div class="cta-b__container">
      <div class="cta-b__content">
        <h2 class="titleL cta-b__title">Есть вопросы?</h2>
        <p class="desc1 cta-b__desc">
          Оставте заявку, и мы свяжемся с&nbsp;вами
        </p>

        <form action="#" class="cta-form cta-b__form">
          <input
            type="text"
            placeholder="Укажите ваше имя"
            class="cta-form__input"
            name="Имя"
          />
          <input
            type="text"
            placeholder="Ваш контактный телефон"
            class="cta-form__input"
            name="Телефон"
          />

          <button class="cta-form__btn btn btn-reset btn--aqua">
            Оставить заявку
          </button>
          <small class="cta-form__agree">
            Нажимая кнопку «Отправить заявку», вы соглашаетесь с&nbsp;<a
              href="#"
              >политикой обработки персональных данных</a
            >
          </small>
        </form>
      </div>

      <div class="cta-b__img">
        <img src="./img/cta-b.webp" alt="" />
      </div>
    </div>
  </div>
</section>
