<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="cta__content">
        <h3 class="title3 cta__title">Посчитайте вашу выгоду</h3>
        <form action="#" class="cta__form cta-form">
          <div class="cta-form__wrapper">
            <label for="ct1" class="cta-form__label">Стоимость квартиры</label>
            <div class="cta-form__inwrapper">
              <input
                type="number"
                min="6500000"
                placeholder="от 6 500 000 ₽"
                class="cta-form__input"
                id="ct1"
              />
            </div>
          </div>
          <div class="cta-form__wrapper">
            <label for="ct2" class="cta-form__label"
              >Первоначальный взнос</label
            >
            <div class="cta-form__inwrapper" data-after="0%">
              <input
                type="text"
                placeholder="2 235 240 ₽"
                class="cta-form__input"
                id="ct2"
              />
            </div>
          </div>
          <div class="cta-form__wrapper">
            <label for="ct2" class="cta-form__label">Срок кредита</label>
            <div class="cta-form__inwrapper">
              <input
                type="text"
                placeholder="30 лет"
                class="cta-form__input"
                id="ct2"
              />
            </div>
          </div>

          <button class="btn-reset btn btn--blue cta-form__btn">
            Получить одобрение онлайн
          </button>
        </form>
      </div>
      <div class="cta__right">
        <div class="cta__subtitle title2">
          Ипотека <br />под <span>0.1 %</span>
        </div>
        <div class="cta__img">
          <img src="./img/cta.webp" alt="" />
        </div>
        <a href="#" class="cta__link">подробнее</a>
      </div>
    </div>
  </div>
</section>
