<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="cta__content">
        <h3 class="title3 cta__title">Посчитайте вашу выгоду</h3>
        <form action="#" class="cta__form cta-form">
          @include('./modal-blue.html')
          <div class="cta-form__parent">
            <div class="cta-form__wrapper">
              <label for="ct1" class="cta-form__label"
                >Стоимость квартиры</label
              >
              <div class="cta-form__inwrapper">
                <input
                  type="number"
                  id="loanAmountInput"
                  min="6500000"
                  max="15000000"
                  step="100000"
                  value="6500000"
                  placeholder="от 6 500 000 ₽"
                  class="cta-form__input"
                  id="ct1"
                />
                <input
                  type="range"
                  id="loanAmount"
                  min="6500000"
                  max="15000000"
                  step="100000"
                  value="6500000"
                />
              </div>
            </div>
            <div class="cta-form__wrapper">
              <label class="cta-form__label">Первоначальный взнос</label>
              <div class="cta-form__inwrapper" data-after="30%">
                <input
                  type="number"
                  placeholder="2 235 240 ₽"
                  class="cta-form__input"
                  id="annualInterestInput"
                />
                <input
                  type="range"
                  id="annualInterest"
                  min="30"
                  max="80"
                  step="1"
                  value="30"
                />
              </div>
            </div>
            <div class="cta-form__wrapper">
              <label class="cta-form__label">Срок кредита</label>
              <div class="cta-form__inwrapper">
                <input
                  type="text"
                  placeholder="30 лет"
                  class="cta-form__input"
                  id="loanTermInput"
                  min="30"
                  max="50"
                  step="1"
                  value="30"
                />
                <input
                  type="range"
                  id="loanTerm"
                  min="30"
                  max="50"
                  step="1"
                  value="30"
                />
              </div>
            </div>
          </div>

          <div class="btn-reset btn btn--blue cta-form__btn modal-btn-blue">
            Получить одобрение онлайн
          </div>
        </form>
      </div>
      <div class="cta__right">
        <div class="cta__subtitle title2">
          Ипотека <br />под <span>0.1 %</span>
        </div>
        <div class="cta__img">
          <img src="./img/cta.webp" alt="" />
        </div>
        <a href="#" class="cta__link">подробнее</a>
      </div>
    </div>
  </div>
</section>
