<section class="gallery-hero">
  <div class="container">
    <h2 class="title2 gallery-hero__title centered">Галерея</h2>
    <div class="gallery-hero__items">
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery1"
        data-src="./img/gallery/01.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/gallery/01-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/gallery/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/gallery/01.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Места общего пользования</div>
          <div class="gallery-item__count">20 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery2"
        data-src="./img/gallery/02.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/gallery/02-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/gallery/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/gallery/02.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Дизайн проекты</div>
          <div class="gallery-item__count">24 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery3"
        data-src="./img/gallery/03.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/gallery/03-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/gallery/03.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/gallery/03.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Архитектура</div>
          <div class="gallery-item__count">17 фото</div>
        </div>
      </div>
    </div>
  </div>
</section>
