<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__left">
        <a href="./" class="header__logo">
          <img src="./img/logo.svg" alt="" />
        </a>
        <nav class="header__nav nav">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">О проекте</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Галерея</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Новости</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Ход строительства</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Контакты</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">О застройщике</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">
                <svg
                  width="20"
                  height="6"
                  viewBox="0 0 20 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g filter="url(#filter0_f_2026_2290)">
                    <circle cx="3.28571" cy="3" r="2" fill="black" />
                    <circle cx="10.2857" cy="3" r="2" fill="black" />
                    <circle cx="17.2857" cy="3" r="2" fill="black" />
                  </g>
                  <defs>
                    <filter
                      id="filter0_f_2026_2290"
                      x="0.785706"
                      y="0.5"
                      width="19"
                      height="5"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="BackgroundImageFix"
                        result="shape"
                      />
                      <feGaussianBlur
                        stdDeviation="0.25"
                        result="effect1_foregroundBlur_2026_2290"
                      />
                    </filter>
                  </defs>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__right">
        <button class="btn btn-reset header__btn">Выбрать квартиру</button>

        <div class="header__col">
          <a href="tel:+7 423 287 77 27" class="header__tel">
            +7 423 287 77 27
          </a>
          <button class="btn-reset header__recall modal-btn">
            Заказать звонок
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
@include('./modal.html')
