<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__container">
        <div class="hero__content">
          <h1 class="hero__title title1">ЖК Молодежный</h1>
          <p class="hero__subtitle subtitle1">
            Продуманное, функциональное и&nbsp;комфортное жилье
          </p>
          <div class="hero__buttons">
            <a href="#" class="btn btn-reset hero__btn">Выбрать квартиру</a>
            <a href="#" class="btn btn--dark btn-reset hero__btn">
              Скачать презентацию
            </a>
          </div>
        </div>
      </div>
      <div class="hero__img">
        <picture>
          <source
            srcset="./img/build-mob.webp"
            media="(max-width: 576px)"
            type="image/webp"
          />
          <source srcset="./img/build.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/build.png"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
