<div class="modal modal--recall">
  <div class="modal__body">
    <div class="modal__header">
      <div class="modal__title">Заказать звонок</div>
      <button class="btn-reset modal__close">
        <svg
          width="44"
          height="44"
          viewBox="0 0 44 44"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 2L42 42M42 2L2 42"
            stroke="black"
            stroke-width="3"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
    <form action="#" class="cta-form modal__form">
      <div class="modal__row">
        <input
          type="text"
          name="Имя"
          placeholder="Укажите ваше имя"
          class="cta-form__input"
        />
        <input
          type="tel"
          name="Телефон"
          placeholder="Ваш контактный телефон"
          class="cta-form__input"
        />
      </div>
      <div class="modal__row">
        <button class="btn btn-reset btn--pink modal__btn cta-form__btn">
          Оставить заявку
        </button>
        <small class="cta-form__agree">
          Нажимая кнопку «Отправить заявку», вы соглашаетесь с&nbsp;<a href="#"
            >политикой обработки персональных данных</a
          >
        </small>
      </div>
    </form>
  </div>
</div>
