<div class="navigation">
  <ul class="list-reset navigation__list">
    <li class="navigation__item">
      <a href="#" class="navigation__link">
        <span>
          <img src="./img/menu/01.svg" alt="" />
        </span>
        О проекте
      </a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link">
        <span>
          <img src="./img/menu/02.svg" alt="" />
        </span>
        Галерея
      </a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link">
        <span>
          <img src="./img/menu/03.svg" alt="" />
        </span>
        Новости
      </a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link">
        <span>
          <img src="./img/menu/04.svg" alt="" />
        </span>
        Контакты
      </a>
    </li>
    <li class="navigation__item">
      <a href="#" class="navigation__link burger-btn" data-burger>
        <span>
          <img src="./img/menu/05.svg" alt="" />
        </span>
        Меню
      </a>
    </li>
  </ul>
</div>
