<section class="news-section">
  <div class="container">
    <h2 class="title3 centered news-section__title">Новости</h2>
    <div class="news-section__items">
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/01.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">Поздравляем с днем строителя!</h5>
        <time datetime="11.08.2024" class="news-item__date">11.08.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/02.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Нежилые помещения в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;: лучшая
          инвестиция в&nbsp;ваше будущее
        </h5>
        <time datetime="24.07.2024" class="news-item__date">24.07.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/03.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Отделка White box теперь доступна
          в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;!
        </h5>
        <time datetime="24.07.2024" class="news-item__date">24.07.2024</time>
      </article>
    </div>
    <div class="news-section__bottom">
      <a href="#" class="news-section__link btn btn-reset btn--dark">
        Все новости
      </a>
    </div>
  </div>
</section>
