<section class="news-hero">
  <div class="container">
    <h1 class="title2 centered news-hero__title">Новости</h1>
    <div class="news-section__items">
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/01.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">Поздравляем с&nbsp;днем знаний!</h5>
        <time datetime="02.09.2024" class="news-item__date">02.09.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/02.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Поздравляем с&nbsp;днем строителя!
        </h5>
        <time datetime="11.08.2024" class="news-item__date">11.08.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/03.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Нежилые помещения в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;: лучшая
          инвестиция в&nbsp;ваше будущее
        </h5>
        <time datetime="24.07.2024" class="news-item__date">24.07.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/02.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Поздравляем с&nbsp;днем строителя!
        </h5>
        <time datetime="11.08.2024" class="news-item__date">11.08.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/03.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Нежилые помещения в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;: лучшая
          инвестиция в&nbsp;ваше будущее
        </h5>
        <time datetime="24.07.2024" class="news-item__date">24.07.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/04.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Отделка White box теперь доступна
          в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;!
        </h5>
        <time datetime="24.07.2024" class="news-item__date">24.07.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/03.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Нежилые помещения в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;: лучшая
          инвестиция в&nbsp;ваше будущее
        </h5>
        <time datetime="24.07.2024" class="news-item__date">24.07.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/04.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Отделка White box теперь доступна
          в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;!
        </h5>
        <time datetime="24.07.2024" class="news-item__date">24.07.2024</time>
      </article>
      <article class="news-section__item news-item">
        <a href="#" class="news-item__link"></a>
        <div class="news-item__img">
          <img src="./img/news/all/02.webp" alt="" />
        </div>
        <h5 class="news-item__title title5">
          Поздравляем с&nbsp;днем строителя!
        </h5>
        <time datetime="24.07.2024" class="news-item__date">11.08.2024</time>
      </article>
    </div>
  </div>
</section>
