<section class="partners">
  <div class="container">
    <h2 class="title3 partners__title centered">Банки партнеры</h2>
    <div class="partners__slider swiper">
      <div class="swiper-wrapper partners__items">
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/01.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/02.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/03.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/04.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/05.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/06.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/07.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/08.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/09.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/11.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/10.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/12.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/13.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/14.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <img src="./img/partners/15.svg" alt="" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__img">
            <span>Есть вопросы? Звоните!</span>
            <a href="tel:+7 423 287 77 27">+7 423 287 77 27</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
