<section class="gallery-hero progress">
  <div class="container">
    <div class="progress__header">
      <h1 class="title2 progress__title">Ход строительства</h1>
      <a href="#" class="btn btn-reset btn--dark progress__btn"
        >Онлайн-камера со стройплощадки</a
      >
    </div>
    <div class="gallery-hero__items">
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery1"
        data-src="./img/progress/01.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/01-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/01.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Июль 2024</div>
          <div class="gallery-item__count">10 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery2"
        data-src="./img/progress/02.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/02-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/02.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Июнь 2024</div>
          <div class="gallery-item__count">7 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery3"
        data-src="./img/progress/03.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/03-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/03.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/03.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Май 2024</div>
          <div class="gallery-item__count">9 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery4"
        data-src="./img/progress/04.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/04-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/04.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/04.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Апрель 2024</div>
          <div class="gallery-item__count">10 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery1"
        data-src="./img/progress/01.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/01-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/01.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Июль 2024</div>
          <div class="gallery-item__count">10 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery2"
        data-src="./img/progress/02.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/02-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/02.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Июнь 2024</div>
          <div class="gallery-item__count">7 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery3"
        data-src="./img/progress/03.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/03-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/03.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/03.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Май 2024</div>
          <div class="gallery-item__count">9 фото</div>
        </div>
      </div>
      <div
        class="gallery-hero__item gallery-item"
        data-fancybox="gallery4"
        data-src="./img/progress/04.webp"
      >
        <div class="gallery-item__img">
          <picture>
            <source
              srcset="./img/progress/04-mob.webp"
              type="image/webp"
              media="(max-width: 768px)"
            />
            <source srcset="./img/progress/04.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/progress/04.webp"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="gallery-item__info">
          <div class="gallery-item__name">Апрель 2024</div>
          <div class="gallery-item__count">10 фото</div>
        </div>
      </div>
    </div>

    <div class="gallery-hero__bottom">
      <button class="btn btn-reset btn--dark gallery-hero__more">
        Показать еще
      </button>
    </div>
  </div>
</section>
