<section class="single">
  <div class="container">
    <h2 class="visually-hidden">title</h2>
    <article class="single__article">
      <div class="single__row">
        <a href="#" class="single__back">
          <svg
            width="13"
            height="22"
            viewBox="0 0 13 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.3867 21L2.30575 11.9195C2.10853 11.7223 2.00992 11.6236 1.94807 11.5227C1.75159 11.2021 1.75158 10.7984 1.94805 10.4777C2.00989 10.3768 2.1085 10.2782 2.30571 10.081L11.3863 1.00001"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </a>
        <time datetime="24.07.2024">24.07.2024</time>
      </div>
      <h3>
        Нежилые помещения в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;: лучшая
        инвестиция в&nbsp;ваше будущее
      </h3>
      <div class="single__content">
        <p>Уважаемые покупатели!</p>

        <p>
          В&nbsp;жилом комплексе &laquo;Молодёжный&raquo; доступны
          к&nbsp;продаже нежилые помещения. Это отличная возможность
          для&nbsp;инвестирования и&nbsp;создания собственного дела или сдачи
          помещения в&nbsp;аренду.
        </p>
        <p>Почему это лучшая инвестиция?</p>

        <ul>
          <li>
            Расположение. Жилой комплекс &laquo;Молодёжный&raquo; находится
            в&nbsp;удобном месте с&nbsp;хорошей транспортной доступностью. Рядом
            есть всё необходимое: магазины, кафе, школы, детские сады
            и&nbsp;другие объекты инфраструктуры.
          </li>
          <li>
            Качество строительства. Все помещения выполнены из&nbsp;качественных
            материалов и&nbsp;имеют чистовую отделку.<br />
            Вы&nbsp;сможете сразу&nbsp;же приступить к&nbsp;использованию
            помещения без дополнительных затрат на&nbsp;ремонт.
          </li>
          <li>
            Перспективы развития. Район, где расположен жилой комплекс, активно
            развивается. Здесь появляются новые жилые дома, торговые центры,
            спортивные сооружения и&nbsp;другие объекты. Это значит, что спрос
            на нежилые помещения будет только расти.
          </li>
        </ul>
        <p>
          В&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo; вы&nbsp;можете приобрести
          нежилое помещение любой площади и&nbsp;назначения. Мы предлагаем
          широкий выбор вариантов, чтобы каждый покупатель мог найти подходящее
          помещение для своих потребностей.
        </p>
        <p>
          Если вы&nbsp;ищете надёжную инвестицию в&nbsp;своё будущее,
          то&nbsp;нежилые помещения
          в&nbsp;ЖК&nbsp;&laquo;Молодёжный&raquo;&nbsp;&mdash; это отличный
          выбор. Они обеспечат вам стабильный доход и&nbsp;уверенность
          в&nbsp;завтрашнем дне.
        </p>
        <p>
          Не&nbsp;упустите свой шанс стать владельцем нежилого помещения
          в&nbsp;одном из&nbsp;самых перспективных районов города! Свяжитесь
          с&nbsp;нами прямо сейчас, и&nbsp;мы&nbsp;поможем вам выбрать идеальное
          помещение для вашего будущего проекта!
        </p>
        <div class="video__wrapper">
          <video src="" poster="./img/single/cover.webp"></video>
        </div>
      </div>
    </article>
  </div>
</section>
